<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Lofee.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>4359CC4E194B2C053505D59916C179CE5F50F807</string>
				<key>dateExpires</key>
				<string>9/9/21</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4359CC4E194B2C053505D59916C179CE5F50F807</string>
						<key>dateExpires</key>
						<string>9/9/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NTC9D823P9</string>
						<key>name</key>
						<string>Vidushi Meel</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4359CC4E194B2C053505D59916C179CE5F50F807</string>
						<key>dateExpires</key>
						<string>9/9/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NTC9D823P9</string>
						<key>name</key>
						<string>Vidushi Meel</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4359CC4E194B2C053505D59916C179CE5F50F807</string>
						<key>dateExpires</key>
						<string>9/9/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NTC9D823P9</string>
						<key>name</key>
						<string>Vidushi Meel</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4359CC4E194B2C053505D59916C179CE5F50F807</string>
						<key>dateExpires</key>
						<string>9/9/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Realm.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NTC9D823P9</string>
						<key>name</key>
						<string>Vidushi Meel</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4359CC4E194B2C053505D59916C179CE5F50F807</string>
						<key>dateExpires</key>
						<string>9/9/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RealmSwift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NTC9D823P9</string>
						<key>name</key>
						<string>Vidushi Meel</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4359CC4E194B2C053505D59916C179CE5F50F807</string>
						<key>dateExpires</key>
						<string>9/9/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SideMenu.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NTC9D823P9</string>
						<key>name</key>
						<string>Vidushi Meel</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4359CC4E194B2C053505D59916C179CE5F50F807</string>
						<key>dateExpires</key>
						<string>9/9/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NTC9D823P9</string>
						<key>name</key>
						<string>Vidushi Meel</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4359CC4E194B2C053505D59916C179CE5F50F807</string>
						<key>dateExpires</key>
						<string>9/9/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>NTC9D823P9.com.Tonnelier.Lofee.NotificationAppExtension</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>NTC9D823P9</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.Tonnelier.Lofee</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>NotificationAppExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>3b1baf9d-8504-4c0a-b759-73bcb9b8a3ff</string>
						<key>name</key>
						<string>iOS Team Store Provisioning Profile: com.Tonnelier.Lofee.NotificationAppExtension</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NTC9D823P9</string>
						<key>name</key>
						<string>Vidushi Meel</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>NTC9D823P9.com.Tonnelier.Lofee</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>NTC9D823P9</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.com.Tonnelier.Lofee</string>
				</array>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Lofee.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>5ca3b16b-0f64-4278-8154-56abe420359b</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.Tonnelier.Lofee</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>NTC9D823P9</string>
				<key>name</key>
				<string>Vidushi Meel</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
